{% extends 'news/base.html' %}


{% block title %}Create news{% endblock %}

{% block content %}
  <main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Create your own news</h1>
      </div>
    </div>
    <div class="container">
      <form action="/news/create/" method="post">{% csrf_token %}
        <h4 class="text-monospace">Enter the title of your news:</h4>
        <input class="form-control mr-sm-2" type="text" name="title" size=50>
        {% if error_empty_title %}
          <div class="alert alert-danger" role="alert">
            Enter some title!
          </div>
        {% endif %}
          <br>
          <h4 class="text-monospace">Enter the text of your news:</h4>
          <div class="input-group">
            <textarea class="form-control" aria-label="With textarea" name="text" size=1048576></textarea>
          </div>
        {% if error_empty_text %}
          <div class="alert alert-danger" role="alert">
            Enter some text!
          </div>
        {% endif %}
        <br>
        <br>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Create news</button>
      </form>
      <hr>
      <br>
    </div>
  </main>
{% endblock %}

