{% extends 'news/base.html' %}


{% block title %}GGNews{% endblock %}

{% block style %}
  <style>
    .font-weight-normal {
      line-height: 0.5;
    }
    .long-word {
      word-wrap: break-word;
    }
    .news{
      position: relative;
      max-height: 140px;
      height: 150px;
      overflow-y: hidden;
    }
    .news:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: inset 0 -120px 50px -80px rgba(255, 255, 255, 1);
    }
  </style>
{% endblock %}

{% block search %}
  <form class="form-inline my-2 my-lg-0" action="/news/search" method="post">{% csrf_token %}
    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="q">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
{% endblock %}


{% block content %}
  <main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h1 class="display-3">GGNews</h1>
          </div>
          <div class="col-md-4">
            {% if weather %}
              <h4 class="font-weight-normal">Weather in {{ weather.name }}:</h4>
              </br>
              <p class="font-weight-normal">Now {{ weather.description }}</p>
              <table>
                <tr>
                  <td>Current temperature:</td>
                  <td>{{ weather.temp }} °C</td>
                </tr>
                <tr>
                  <td>Feels like:</td>
                  <td>{{ weather.feels_like }} °C</td>
                </tr>
                <tr>
                  <td>Pressure:</td>
                  <td>{{ weather.pressure }} mmhg</td>
                </tr>
                <tr>
                  <td>Humidity:</td>
                  <td>{{ weather.humidity }}%</td>
                </tr>
                <tr>
                  <td>Wind</td>
                  <td>{{ weather.wind_speed }} kmph</td>
                </tr>
              </table>
              </br>
              <p class="font-weight-normal">If this is not your city, enter yours:</p>
            {% else %}
              <p class="font-weight-normal">There is no such city. Enter another:</p>
            {% endif %}
            <form class="form-inline my-2 my-lg-0" action="/news/" method="post">{% csrf_token %}
              <input class="form-control mr-sm-2" type="text" placeholder="Enter your city" aria-label="Search" name="city">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      {% regroup data by created|date:"Y-m-d" as grouped_data %}
      {% for group in grouped_data %}
        <h4 class="text-monospace">{{ group.grouper }}</h4>
        <br>
        <div class="long-word">
          <div class="row">
            {% for item in group.list %}
              <div class="col-md-4">
                <div class="shadow p-3 mb-5 bg-white rounded">
                  <div class="news">
                    <h3 class="text-monospace">{{ item.title }}</h3>
                    <p>{{ item.text|linebreaks}}</p>
                    </br>
                  </div>
                  <a href="/news/{{ item.link }}/" class="stretched-link">Read the full</a>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
        <br>
        <hr>
      {% endfor %}
    </div> <!-- /container -->
  </main>
{% endblock %}

