<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>News</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>
    <body>
        <h2>News</h2>
        <form action="/news/search" method="post">{% csrf_token %}
            <input type="text" name="q">
            <button type="submit">Search</button>
        </form>
        
        <main>
            <div id="left">
                {% regroup data by created|date:"Y-m-d" as grouped_data %}
                {% for group in grouped_data %}
                    <h4>{{ group.grouper }}</h4>
                    <ul>
                        {% for item in group.list %}
                            <li><a href="/news/{{ item.link }}/">{{ item.title }}</a></li>
                        {% endfor %}
                    </ul>
                {% endfor %}
                <p><a href="/news/create/">Create news</a></p>
            </div>
            <div id="right">
                {% if weather %}
                    <h4 class="weather">Weather in {{ weather.name }}:</h4>
                    <p class="weather">Now {{ weather.description }}</p>
                    <p class="weather">Current temperature: {{ weather.temp }} °C</p>
                    <p class="weather">Feels like: {{ weather.feels_like }} °C</p>
                    <p class="weather">Pressure: {{ weather.pressure }} mmhg</p>
                    <p class="weather">Humidity: {{ weather.humidity }}%</p>
                    <p class="weather">Wind: {{ weather.wind_speed }} kmph</p>
                    </br>
                    <p>If this is not your city, enter yours:</p>
                    <form action="/news/" method="post">{% csrf_token %}
                        <input type="text" name="city">
                        <button type="submit">Submit</button>
                    </form>
                {% else %}
                    <p>There is no such city. Enter another:</p>
                    <form action="/news/" method="post">{% csrf_token %}
                        <input type="text" name="city">
                        <button type="submit">Submit</button>
                    </form>
                {% endif %}
            </div>
        </main>
    </body>
</html>
